bin/
obj/
[Bb]uild/
[Bb]uildOutput/
artifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/
*.swp
*.swo
**/.dockerignore
docker-compose.override.yml
*.db
*.sqlite
*.sqlite3
filestorage.db
fileanalysis.db
**/.DS_Store
**/Thumbs.db
packages/
**/packages/*
*.nupkg
files/
*.txt
student*.txt
work*.txt
cloudtest.txt
plag*.txt
*.log
logs/
